/*
-------------------------
Layout
-------------------------
*/

.app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25px 25px 1fr 25px 25px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "score score logo timer timer"
    ". main main main .";
}

// header

.app-header {
  display: contents;
}

.current-score {
  grid-area: score;
}

.logo {
  grid-area: logo;
}

.timer {
  grid-area: timer;
}

// main content

.app-main {
  grid-area: main;
}

/* Subtitle
------------- */